.container {
    font-family: 'Unica One', cursive; 
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color:beige ;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid darkolivegreen;
    border-radius: 10px;
 
  }
  
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 70%;
    border-radius: 10px;
  }
  
  button {
    padding: 15px;
    font-size: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: #0062cc;
  }
  
  #error-message {
    color: red;
    margin-bottom: 20px;
  }



  #weather-results{
    color: black;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
  }
  #clima-results{
    color: g;
    color: #000000;
    font-size: 50px;
    font-weight: bold;
  }

  .containerResult{
    /* background-color: rgba(128, 128, 128, 0.575); */
    width: 300px;
    margin: auto;
    border-radius: 10px;
    
    
  }


  @media only screen and (max-width: 600px) {
   
    .container{
        max-width: 90%;
        background-color: beige;
    }
  }

  